﻿@model List<OpenFda.ApplicationsServices.Models.EnforcementReportItem>

@if (Model != null && Model.Count > 0)
{
    <div class="list-group">
        @foreach (var item in Model)
                {
            <a href="@Url.Action("RecallNotification", new {id = @item.Id, productType = @item.ProductType})" class="list-group-item">
                <h5 class="list-group-item-heading text-bold">@item.RecallNumber</h5>
                <p class="list-group-item-text">@item.ProductDescription</p>
            </a>

        }
    </div>
}
else
{
    <div class="alert alert-success">
        <p>No other recalls for this firm.</p>
    </div>
}
