﻿@model OpenFda.ViewModels.RecallViewModel

<div class="header">
    <h1>Device Recall Report Dashboard</h1>

    <p class="lead">
        FDA monitors reports of adverse events and other problems with medical devices and
        alerts health professionals and the public when needed to ensure proper use of devices
        and the health and safety of patients. The lists below show recent medical device
        recalls and other FDA safety communications.
    </p>
    <p>
        This page provides links to 10 recently posted device recalls as well as visualization
        of the top 5 reporting firms and recalls by classification for the last 90 days.
    </p>
</div>

<div class="row">
    <div class="col col-md-offset-4 col-md-8">
        @using (Html.BeginForm("DevicesRecall", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {

            @Html.AntiForgeryToken()

            <div class="pull-right">
                <div class="form-group">
                    @Html.LabelFor(model => model.DateRange)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.DateRange, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-success">Go</button>
                        </span>
                    </div>
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.DateRange)
                    </span>
                </div>
            </div>

        }
    </div>
</div>

@if (Model.Results != null && Model.Results.Count > 0)
{
    @Component.Invoke("EnforcementReportGraphs", Model)

    @Component.Invoke("EnforcementReport", Model)

    <div class="col col-md-offset-4 col-md-8">
        <div class="form-group">
            @if (Model.Skip <= Model.TotalResults)
            {
                @using (Html.BeginForm("DevicesRecall", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    Model.Next = true;
                    @Html.HiddenFor(model => model.DateRange)
                    @Html.HiddenFor(model => model.Skip)
                    @Html.HiddenFor(model => model.Next)
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <ul class="pager">
                                    <li><a href="#" onclick="$(this).closest('form').submit(); return false;">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (Model.Skip > 0)
            {
                @using (Html.BeginForm("DevicesRecall", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    Model.Previous = true;
                    @Html.HiddenFor(model => model.Previous)
                    @Html.HiddenFor(model => model.DateRange)
                    @Html.HiddenFor(model => model.Skip)
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <ul class="pager">
                                    <li><a href="#" onclick="$(this).closest('form').submit(); return false;">Previous</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

else
{
    <div class="row">
        <div class="col col-md-12" style="padding: 25px;">
            <div class="alert alert-info">
                <p class="lead"><i class="glyphicon glyphicon-info-sign"></i> No food call reports or events for specified date range.</p>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">

        var totalClassI = @Model.TotalClassI;
        var totalClassII = @Model.TotalClassII;
        var totalClassIII = @Model.TotalClassIII;

        var totalByFirm = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TotalByFirm));

        var categories = [];
        var data = ['Top 5 Firms by Recalls'];

        if (totalByFirm == null) {
            totalByFirm = 0;
        }

        for (var i = 0; i < totalByFirm.length; i++) {
            categories.push(totalByFirm[i].Key);
            data.push(totalByFirm[i].Value);
        }

        var chart = c3.generate({
            bindto: '#chart',
            padding: {
                bottom: 10
            },
            data: {
                columns: [data],
                type: 'bar',
                labels: true
            },
            axis: {
                x: {
                    'type': 'category',
                    categories: categories
                },
                y: {
                    show: false
                }
            },
            tooltip: {
                show: false
            }
        });

        var chart2 = c3.generate({
            bindto: '#chart-seriousness',

            data: {
                columns: [
                    ['Class I', totalClassI],
                    ['Class II', totalClassII],
                    ['Class III', totalClassIII]
                ],
                type: 'donut',
                onclick: function(d, i) { console.log("onclick", d, i); },
                onmouseover: function(d, i) { console.log("onmouseover", d, i); },
                onmouseout: function(d, i) { console.log("onmouseout", d, i); }
            },
            donut: {
                title: "Recall Seriousness"
            }
        });

        $(function () {
            //Check to see if this DOM element exists
            if ($("#DateRange").length > 0) {
                $("#DateRange").daterangepicker(
                    {
                        ranges: {
                            'Last 7 Days': [moment().subtract('days', 6), moment()],
                            'Last 30 Days': [moment().subtract('days', 29), moment()],
                            'Last 90 Days': [moment().subtract('days', 89), moment()],
                            'Last 6 Months': [moment().subtract('month', 6), moment()],
                            'Last Year': [moment().subtract('year', 1), moment()]
                        },
                        showDropdowns: true,
                        format: 'YYYY-MM-DD'
                    }
                );
            }
        });
    </script>
}



