﻿
@model OpenFda.ViewModels.IndexViewModel

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <div class="form-group">
                    <label for="Search">Search Products</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m=>m.Search, new {@class="form-control"})
                        <span class="input-group-btn">
                        <button class="btn btn-success">Go</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Recall Notifications</h2>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <img src=@Url.Content("~/images/foods.jpg") class="img-responsive" alt="food" />
            </div>
            <div class="panel-body">
                <a asp-controller="Home" asp-action="FoodRecall" class="btn btn-primary">Food</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <img src=@Url.Content("~/images/drugs.jpg") class="img-responsive" alt="drugs" />
            </div>
            <div class="panel-body">
                <a asp-controller="Home" asp-action="DrugsRecall" class="btn btn-primary">Drugs</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <img src=@Url.Content("~/images/devices.jpg") class="img-responsive" alt="devices" />
            </div>
            <div class="panel-body">
                <a asp-controller="Home" asp-action="DevicesRecall" class="btn btn-primary">Devices</a>
            </div>
        </div>
    </div>
</div>

