﻿@using OpenFda.ApplicationsServices.Models
@model OpenFda.ApplicationsServices.Models.EnforcementReportItem

<div class="header">

    <div class="row">
        <div class="col col-sm-8">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="@Url.Content("~/images/fda_recall.jpg")" alt="fda logo with recall" height="50" />
                </div><div class="media-body">
                    <h1 class="media-heading">@Model.ProductType Notification
                        <small class="text-muted subtitle">Recall #: @Model.RecallNumber</small>
                    </h1>
                </div>
            </div>


        </div>
        <div class="col col-sm-4">
            <div class="pull-right recall-status">
                <div style="display: inline-block">
                    <span class="label label-primary">@Model.Classification</span>
                    <span class="text-muted stat-description">Classification</span>
                </div>
                <div style="display: inline-block">
                    <span class="label label-warning">@Model.Status</span>
                    <span class="text-muted stat-description">Status</span>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col col-md-8">

        <h3>Recall Information</h3>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <div>Product Information</div>
            </div>

            <div class="panel-body">

                <dl class="dl-horizontal">

                    <dt>Product Description</dt>
                    <dd>@Model.ProductDescription</dd>

                    <dt>Code Info</dt>
                    <dd>@Model.CodeInfo</dd>

                    <dt>Distributed Quantity</dt>
                    <dd>@Model.ProductQuantity</dd>

                    <dt>Reason for Recall</dt>
                    <dd>@Model.ReasonForRecall</dd>

                </dl>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">Recall Event Details</div>

            <div class="panel-body">

                <dl class="dl-horizontal">

                    <dt>Event Id</dt>
                    <dd>@Model.EventId</dd>

                    <dt>Product Type</dt>
                    <dd>@Model.ProductType</dd>

                    <dt>Recalling Firm</dt>
                    <dd>@Model.RecallingFirm</dd>

                    <dt>City</dt>
                    <dd>@Model.City</dd>

                    <dt>State</dt>
                    <dd>@Model.State</dd>

                    <dt>Country</dt>
                    <dd>@Model.Country</dd>

                    <dt>Voluntary/Mandated</dt>
                    <dd>@Model.VoluntaryMandated</dd>

                    <dt>Inital Firm Notification</dt>
                    <dd>@Model.InitialFirmNotification</dd>

                    <dt>Distribution Pattern</dt>
                    <dd>@Model.DistributionPattern</dd>

                    <dt>Recall Initiation Date</dt>
                    <dd>@Model.RecallInitiationDate</dd>
                </dl>

            </div>

        </div>

    </div>

    <div class="col col-md-4">

        <h3>News Alerts</h3>

        <div class="list-group">
            @foreach (var item in Model.News.Articles)
            {
                <a href="@item.Url" class="list-group-item">
                    <h5 class="list-group-item-heading text-bold">@item.Headline</h5>
                    <p class="list-group-item-text">@item.Publisher</p>
                </a>

            }
        </div>

        <p class="text-muted text-right">News Alerts are powered by Google</p>

        <h4>Other Recalls for @Model.RecallingFirm</h4>

        @Component.Invoke("EnforcementReportsForFirm", Model.RecallingFirm, Model.ProductType)

    </div>

</div>
