﻿
@model OpenFda.ViewModels.IndexViewModel

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <div class="form-group">
                    <label for="Search">Search Products</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-success">Go</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<h1>Search Results...</h1>

@if (Model.Results != null && Model.Results.Count > 0)
{
    @Component.Invoke("EnforcementReport", Model)
    <div class="col col-md-offset-4 col-md-8">
        <div class="form-group">
            @if (Model.Skip <= Model.TotalResults)
            {
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    Model.Next = true;
                    @Html.HiddenFor(model => model.Search)
                    @Html.HiddenFor(model => model.Skip)
                    @Html.HiddenFor(model => model.Next)
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <ul class="pager">
                                    <li><a href="#" onclick="$(this).closest('form').submit(); return false;">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (Model.Skip > 0)
            {
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    Model.Previous = true;
                    @Html.HiddenFor(model => model.Search)
                    @Html.HiddenFor(model => model.Previous)                    
                    @Html.HiddenFor(model => model.Skip)
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <ul class="pager">
                                    <li><a href="#" onclick="$(this).closest('form').submit(); return false;">Previous</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}