﻿
@model OpenFda.ViewModels.RecallViewModel

<div class="row">
    <div class="col col-md-6">
        <div class="card chart">
            <div id="chart"></div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="card chart">
            <div id="chart-seriousness"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <h2>Recent Recalls</h2>
    </div>
</div>
