﻿body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke: 1px rgba(0,0,0,0.1);*/
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* navbar */

.navbar {
    max-height:56px;    
}

.navbar-left {
    padding-right: 20px;
}

.navbar-default {
    
    background-color: #003152;
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.24);
}

.navbar-nav > li > a {
    padding-top: 20px;
    font-size: 15px;
}

.navbar-brand {
    padding-top: 20px;
    font-size: 22px;
}

.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  
  color: #fff;
}
.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
   
}
    
/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

dt, dd {
    margin-bottom: 15px;
}

.panel-primary {
    border-color: #003152;
}

    .panel-primary > .panel-heading {
        background-color: #003152;
        border-color: #003152;
    }




.header {
    min-height: 90px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border-top: 6px solid #003152;
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.24);
}

@media (max-width: 768px) {
    .header {
        min-height: 180px;
    }

    .recall-status {
        float: left !important;
    }
}


.header h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.header .subtitle {
    display: block;
    font-size: small;
    padding-top: 5px;
}

.recall-status {
    padding-top: 2px;
    padding-right: 10px;
    font-size: 32px;
}

.content h3 {
    font-weight: 300;
}

.card {
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.24);
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;
}

.chart {
    padding: 10px;
}

.company-information {
    min-height: 100px;
}

.impacted-area {
    height: 100px;
}

.tweets {
    height: 400px;
}

.new-alerts {
    min-height: 100px;
    padding-right: 0;
    padding-left: 0;
}

.stat-description {
    display: block;
    font-size: small;
    text-align: center;
    padding-top: 5px;
}

.text-bold {
    font-weight: bold;
}

.bordered-right {
    border-right: 1px solid rgba(0,0,0,.24);
}


.form-inline .input-group > .form-control {
    min-width: 200px;
}
