﻿@model OpenFda.ViewModels.PagedCollectionViewModel

@if (Model.Results != null && Model.Results.Count > 0)
{

    <div class="card">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Recall Number</th>
                <th>Recall Date</th>
                <th>Classification</th>
                <th>Status</th>
                <th>Product Type</th>
                <th class="hidden-sm hidden-xs">Product Description</th>
                <th class="hidden-sm hidden-xs">Reason for Recall</th>
            </tr>
            </thead>

            <tbody>

            @foreach (var item in Model.Results)
            {
                <tr>
                    <td width="100" style="white-space: nowrap"><a href="@Url.Action("RecallNotification", new { id = @item.Id, productType = @item.ProductType })">@item.RecallNumber</a> </td>
                    <td width="100">@item.RecallInitiationDate.ToString("MM/dd/yyyy")</td>
                    <td width="90">@item.Classification</td>
                    <td width="100">@item.Status</td>
                    <td width="50">@item.ProductType</td>
                    <td width="350" class="hidden-sm hidden-xs">@item.ProductDescription</td>
                    <td class="hidden-sm hidden-xs">@item.ReasonForRecall</td>

                </tr>
            }
            </tbody>
        </table>

        <p class="text-muted pull-right">@Model.RangeString</p>

    </div>

}
else
{
    <div class="alert alert-warning">No recall reports notifications.</div>
}
