﻿@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html>
<head>
    <script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-37766631-6', 'auto');
 ga('send', 'pageview');

    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyFDA - Enforcement Report Dashboard</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker-bs3.css" type="text/css" />

        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css" />
        <link href="~/lib/c3/c3.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="~/css/site.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker-bs3.css" type="text/css" />

        <link rel="stylesheet" href="~/lib/c3/c3.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        
        <div class="container">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="@Url.Content("~/images/gov-fda-white-svg.svg")" height="50" width="75" style="margin-top: -15px" alt="FDA Logo" />
                </a>
                <p class="navbar-brand">MyFDA</p>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="FoodRecall">Food Recalls</a></li>
                    <li><a asp-controller="Home" asp-action="DrugsRecall">Drug Recalls</a></li>
                    <li><a asp-controller="Home" asp-action="DevicesRecall">Device Recalls</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-6 text-left">
                <p>&copy; 2015 - MyFDA</p>
            </div>
           
            <div class="col-md-6 text-right">
                <p>Powered by</p>
                <img src="@Url.Content("~/images/l_openFDA.png")" alt="open FDA image" />
            </div>
            
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/c3/c3.min.js"></script>
        <script src="~/lib/momentjs/moment.min.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Zepto">
        </script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/c3/c3.min.js"></script>
        <script src="~/lib/momentjs/moment.min.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
